<launch>
    <node
        pkg="task3_rtsp_video_stream"
        type="rtsp_server.py"
        name="rtsp_server"
        output="screen"
    />
    <node
        pkg="task3_rtsp_video_stream"
        type="stream_publisher.py"
        name="video_publisher"
        output="screen"
    />
    <node
        pkg="task3_rtsp_video_stream"
        type="stream_subscriber.py"
        name="video_subscriber"
        output="screen"
    />
</launch>